#prestations {
    padding-top: 5rem;
    color:black;

    .titre {
    
            width: fit-content;
    
            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-left: 10px solid var(--secondary-color);
                border-bottom: 10px solid var(--secondary-color);
                bottom: 0;
                left: 0;
                translate: -30px 5px;
                rotate: 10deg;
            }
    
            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-top: 10px solid var(--secondary-color);
                border-right: 10px solid var(--secondary-color);
                top: 0;
                right: 0;
                translate: 30px 0px;
                rotate: -10deg;
            }
        }
    
    }
    
    .panelPrestations {
    
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
}