.titre {
    font-size: 5rem;
    justify-self: flex-start;
    align-self: start;
    font-weight: bold;
    margin-bottom: 50px;
    top: 5%;

      // Tablet
    @media (max-width: 768px) {

      font-size: 4rem;
      align-self: center;
        justify-self: center;

    }

    // Mobile
                @media (max-width: 500px) {
        
                  font-size: 3.2rem;
                  align-self: center;
                  justify-self: center;
        
                }

                                // Mobile
                                @media (max-width: 375px) {
                                  font-size: 2.4rem;
                                  align-self: center;
                                  justify-self: center;

}
  }