/* PRESENTATION */
#presentation {

    position    : absolute;
    width       : 65vw;
    max-width   : 1000px;
    top         : 50%;
    transform   : translateY(-50%);
    display     : flex;
    gap         : 50px;
    align-items : center;

    // Tablet
    @media (max-width: 768px) {
        flex-direction:column;
        justify-content : center;
        width       : 75vw;
    }

    // Mobile
    @media (max-width: 525px) {
        margin-top:-5vh;
        width       : 85vw;
    }


    .text {

        width:60%;
        display : flex;
        flex-direction:column;

        // Tablet
        @media (max-width: 768px) {
            width:100%;
            justify-content:center;
        }

        .headline {

            font-size:1.5vw;
            font-style: bold;
            letter-spacing: -0.03vw;
            color: var(--secondary-color);
            font-family: 'Oswald';
            font-weight: 400;

            // Tablet
            @media (max-width: 768px) {
                font-size:3vw;
                text-align: center;
            }

            // Mobile
            @media (max-width: 525px) {
                font-size:5vw;
            }

        }

        .name {

            font-family: 'Oswald';
            letter-spacing: -.2vw;
            color: var(--primary-color);
            font-size:6rem;
            margin-bottom:2vw;
            line-height: 6rem;

            // Tablet
            @media (max-width: 768px) {
                font-size:5rem;
                line-height: 5rem;
                text-align: center;
            }

            // Mobile
            @media (max-width: 525px) {
                font-size:4rem;
                line-height: 4rem;
            }

        }

        .roles {
            font-size:1rem;
            line-height: 1.7rem;

            // Tablet
            @media (max-width: 768px) {
                font-size:1rem;
                text-align: center;
            }

            // Mobile
            @media (max-width: 525px) {
                margin-top:3vh;
                font-size:.9rem;
            }
        }

        button {
            padding: 1vw 2vw;
            align-self:start;
            border-radius: .5vw;
            font-weight: 600;
            background: var(--secondary-color);
            color: var(--primary-color);
            font-size: 1vw;
            margin-top:4vw;
            cursor: pointer;
            box-shadow: 0 0 0.8vw 0 var(--secondary-color);

            // Tablet
            @media (max-width: 768px) {
                font-size:1.8vw;
                padding: 1.8vw 3.6vw;
                align-self:center;
            }

            // Mobile
            @media (max-width: 525px) {
                font-size:2.7vw;
                padding: 2.7vw 3.6vw;

            }
            }



    }


    img {
        width:40%;
        max-width:400px;

        // Tablet
        @media (max-width: 768px) {
            width:auto;
            max-width:250px;
        }
    }

}