:root {

    --card-width         : 100%;
    --card-height        : 100%;
    --card-border-radius : 30px;
    --reset-delay        : 300ms;
    --overlay-factor     : 2;
    --rotation-intensity : 10;
    --button-height      : 40px;

  }

  .outer-card {

    display         : grid;
    place-items     : center;

    perspective     : 1200px;

    position        : relative;

    width:100%;
    height:100%;



    transition      : all var(--reset-delay) linear;

  }

  .outer-card:hover {

    transform       : scale(1.0);

  }

  .card {

    width                      : var(--card-width);
    height                     : var(--card-height);
    border-radius              : var(--card-border-radius);
    overflow                   : hidden;
    /* transform                  : rotateX(0deg) rotateY(0deg);
    transition-timing-function : ease-out; */
    position                   : relative;
    border                     : 5px solid transparent;
    box-sizing                 : border-box;
    margin                     : 0 20px;
    /* transition-duration        : 300ms; */
    // background-image: url(https://picsum.photos/500/300);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    // backdrop-filter: none;



  &::before {

    content          : '';
    width            : 100%;
    height           : 100%;
    border           : 1px solid transparent;
    position         : absolute;
    left             : 50%;
    top              : 50%;
    box-sizing       : border-box;
    border-radius    : calc(var(--card-border-radius) - 7px);
    transform        : translate(-50%, -50%);
    transition       : all .2s ease-in 150ms;

  }

  &:hover::before {

    width            : calc(100% - 15px);
    height           : calc(100% - 15px);
    border           : 1px solid var(--secondary-color);
    opacity          : .5

  }

  .bg {

    transition-timing-function : ease-out;
    transform                  : scale(1.1);
    filter                     : blur(0px);
    transition-duration        : 1s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius              : var(--card-border-radius);
  }

  &:hover .bg {filter: blur(5px);}

  .title {

    font-size           : 2rem;
    font-weight         : bold;
    margin-bottom       : 10px;
    text-shadow         : rgb(0, 0, 0) 0px 2px 3px;

  }

  &.highlight .title {

    font-size           : 3rem;
    margin-bottom       : 20px;

  }

  & .title.bg-1 {  background-image: url('../../../public/img/brushes/brush.svg') }
  & .title.bg-2 {  background-image: url('../../../public/img/brushes/brush2.svg') }
  & .title.bg-3 {  background-image: url('../../../public/img/brushes/brush3.svg') }
  & .title.bg-4 {  background-image: url('../../../public/img/brushes/brush4.svg') }
  & .title.bg-5 {  background-image: url('../../../public/img/brushes/brush5.svg') }
  & .title.bg-6 {  background-image: url('../../../public/img/brushes/brush6.svg') }
  & .title.bg-7 {  background-image: url('../../../public/img/brushes/brush7.svg') }
  & .title.bg-8 {  background-image: url('../../../public/img/brushes/brush8.svg') }

  & .details {
    width:100%;
    opacity:0;
    overflow:hidden;
    transition: all .2s linear;
     text-shadow: rgb(0, 0, 0) 0px 0px 4px;

  }

  &:hover .details {
    opacity:1;

  }

  & .description {

    bottom:15px;
    position:absolute;
    color:var(--primary-color);
    font-family: 'Oswald';
    width:100%;
    box-sizing: border-box;
    font-size:.75rem;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    height: 100%;
    padding: 10% 10% 3% 10%;


  }

  &.highlight .description {
    font-size:1rem;

  }

  &:hover {

    cursor             : pointer;
    border-color       :  var(--secondary-color);

  }
}

  .overlay {

    width            : calc(100% * var(--overlay-factor));
    height           : calc(100% * var(--overlay-factor));
    position         : absolute;
    border-radius    : 30px;
    transform        : translate3d(0%,0%,0);
    left             : calc(-100% / var(--overlay-factor));
    top              : calc(-100% / var(--overlay-factor));
    opacity          : 0;
    pointer-events   : none;
    background-image : radial-gradient(circle at 50%,hsla(0,0%,100%,.25),transparent 50%);

  }




.card .buttons {
    margin-top:20px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:20px;
}

.card .buttons .psp {
    height:var(--button-height);
    padding:14px;
    border-radius:5px;
    display: flex;
    font-weight:500;
    align-items: center;
    cursor:pointer;
    justify-content: center;
    background-color: var(--background-color);
    color:var(--primary-color)
}

.card .buttons .prev {
      background-color:var(--secondary-color);
      background-image:url('../../../public/img/icons/eye.svg');
      width :var(--button-height);
      height:var(--button-height);
      background-size:calc(var(--button-height) - 12px);
      background-position:center;
      background-repeat: no-repeat;
      border-radius:5px;
  }