.fil-ariane {

    --width: .2vw;
    --bullet-width: 1.3vw;

    position: absolute;
    left:50%;
    height: 100%;
    width: var(--width);
    background-color: var(--secondary-color);
    animation: expand 2s 3s both;
    transform: translate(-50%, 103vh);

    &::after {
        content: '';
        width: var(--bullet-width);
        height: var(--bullet-width);
        position: absolute;
        top: 0;
        background: var(--secondary-color);
        left: 50%;
        border-radius: 20px;
        transform: translate(-50%,0);
    }

}
