.reseaux {
    position:fixed;
    bottom:2vw;
    left:2vw;
    width:1.2vw;
}

.reseaux ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

.reseaux img {
    transition: all .1s linear;
    color:var(--primary-color);
}
.reseaux img:hover {
    color:var(--secondary-color);
    transform:translateY(-.1vw);
}