@keyframes scroll {
    0% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -webkit-transform: translateY(10.5px);
        transform:translateY(10.5px)
    }
}

.scroll {
    position: absolute;
    bottom: 8vh;
    width: 30px;
    height: 45px;
    box-shadow: inset 0 0 0 2px var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    transition: all .25s;

    &::after {
    content: '';
    width: 6px;
    height: 9px;
    background: var(--secondary-color);
    margin-left: 12px;
    top: 12px;
    border-radius: 2px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    position: absolute;
    }

    &::before {
        content: 'Faire défiler';
        position: absolute;
        white-space: nowrap;
        left: 100%;
        top: 50%;
        transform: translate(15px, -50%);
        font-size: .8rem;
        color: var(--secondary-color);
        font-weight:100;
        opacity: 1;
    }
    }
