@keyframes scroll {
   from { top:40%;}
   to { top:60%;}
}

.scroll {

    // Desktop

    --Width     : 1.5vw;
    --width     : .3vw;
    --thickness : .07vw;
    --offset    : 4vh;
    --offset-text: 1vw;

     // Tablet
     @media (max-width: 768px) {
        --Width     : 2.5vw;
        --width     : .5vw;
        --thickness : .07vw;
        --offset    : 4vh;
        --offset-text: 2vw;
    }

    // Mobile
    @media (max-width: 525px) {
        --Width     : 5vw;
        --width     : 1vw;
        --thickness : .2vw;
        --offset    : 5vh;
        --offset-text: 3vw;

    }

    position: absolute;
    bottom: var(--offset);
    width: var(--Width);
    height: calc(var(--Width) * 1.5);
    box-shadow: inset 0 0 0 var(--thickness) var(--secondary-color);
    border-radius: var(--Width);
    cursor: pointer;
    transition: all .25s;

    &::after {
        content: '';
        width: var(--width);
        height: calc(var(--width) * 2);
        background: var(--secondary-color);
        position: absolute;
        left:50%;
        transform:translate(-50%,-50%);
        border-radius: calc(var(--width) / 2);
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }

    &::before {
        content: 'Glisser vers le bas';
        position: absolute;
        white-space: nowrap;
        left: 100%;
        top: 50%;
        transform: translate(var(--offset-text), -50%);
        font-size:  calc(var(--width) * 3);
        color: var(--secondary-color);
        font-weight:100;
        opacity: 1;
    }
    }
