nav {
    width           : 100%;
    margin          : 1vh 0;
    display         : flex;
    align-items     : center;
    justify-content : space-between;

    .initiales {
        font-size       : 2vw;
        font-weight     : bold;

         // Tablet
        @media (max-width: 768px) {
            font-size       : 4vw;
        }

        // Mobile
        @media (max-width: 425px) {
            font-size       : 6vw;
        }



        &::after {

            content        : '';
            width          : .5vw;
            height         : .5vw;
            background     : var(--secondary-color);
            position       : absolute;
            bottom         : 0;
            vertical-align : baseline;
            transform      : translateY(-.5vw);

             // Tablet
            @media (max-width: 768px) {
                width          : 1vw;
                height         : 1vw;
                transform      : translateY(-1vw);
            }

            // Mobile
            @media (max-width: 425px) {
                width          : 1.5vw;
                height         : 1.5vw;
                transform      : translateY(-1.3vw);
            }



        }
    }

    .liens {

        display         : flex;
        list-style      : none;
        justify-content : flex-end;
        align-items     : center;
        gap             : 2vw;
        font-size       : 1.3vw;
        letter-spacing  : -.05vw;
        color           : var(--primary-color);

        // Tablet
        @media (max-width: 768px) {
            font-size       : 2vw;
            gap             : 3vw;
        }

        @media (max-width: 425px) {
            font-size       : 3.5vw;
            gap             : 3.5vw;
        }




        .lien {

            font-variant   : all-small-caps;
            font-weight    : 600;
            padding        : .3vw 0;


            &::after {
                content    : '';
                background : var(--secondary-color);
                height     : .15vw;
                width      : 0%;
                position   : absolute;
                left       : 50%;
                transform  : translateX(-50%);
                bottom     : -.1vw;
                transition : width .2s ease-in-out;
            }

            &:hover::after {
                width      : 100%;
            }
        }

        .contact {

            padding        : .5vw 1vw;
            color          : inherit;
            letter-spacing : inherit;
            font-weight    : 600;
            border-radius  : .3vw;
            background     : var(--secondary-color);
            font-size      : inherit;
            font-variant   : all-small-caps;
            cursor         : pointer;

            // Mobile
            @media (max-width: 425px) {
                padding        : .5vw 2vw;
                border-radius  : 1vw;
            }
        }

    }
}