:root {
    --background-color : #07111a;
    --primary-color    : #ffffff;
    --secondary-color  : #16b572;

}

*, ::after, ::before {
    font-family: 'Montserrat';
    margin: 0;
    padding:0;
    border:none;
    outline:none;
    position:relative;
    object-fit:border-box;
}

em {
    font-style:normal;
}

a {
    color:unset;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: none;
  }

body {

    margin:auto;
    width:100vw;
    min-height:100vh;
    box-sizing: border-box;
    overflow-x:hidden;


    .layout {
        overflow-x:hidden;
    }
}

.waves {
    background: white;
    z-index: -10;
    width: 100%;
    transform: translate(0px, -2px) scale(1.1);
}