.container-prestation {
    border-radius: 1rem;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, .1);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem;
    }

    &:nth-child(1) .header {
        background: var(--secondary-color);
        color: white;
    }

    &:nth-child(2) .header {
        background: white;
        color: black;
    }

    &:nth-child(3) .header {
        background: var(--background-color);
        color: white;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 1rem;

    }

    .subtitle {
        text-align: center;
        font-weight: 400;
    }

    .price {
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: bold;

        &::after {
            content: ' TTC';
            font-size: 0.7rem;
        }
    }
}