header {

    min-height      : 100vh;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    align-items     : center;

    /* BARRE DE NAVIGATION */


}

    /* PRESENTATION */
#presentation {

    position    : absolute;
    width       : 65vw;
    top         : 50%;
    transform   : translateY(-50%);
    display     :flex;
    align-items : center;


    .text {

        min-width:50%;
        font-size:1vw;
        flex-grow:1;

        .roles {
            font-size:1.5vw;
            font-style: bold;
            letter-spacing: -0.03vw;
            color: var(--secondary-color);
            font-family: 'Oswald';
            font-weight: 400;

        }

        .name {

            font-family: 'Oswald';
            letter-spacing: -.2vw;
            color: var(--primary-color);
            font-size:5vw;
            margin-bottom:2vw;
            line-height: 5vw;

        }

        button {
            padding: 1vw 2vw;
            border-radius: .5vw;
            font-weight: 600;
            background: var(--secondary-color);
            color: var(--primary-color);
            font-size: 1vw;
            margin-top:4vw;
            cursor: pointer;
            box-shadow: 0 0 0.8vw 0 var(--secondary-color);
         }



    }

    img {
        max-width:400px;

    }

}
