/* Projets */

:root {

    --carroussel-shadow-gauche: rgba(0,0,0,.6) -10px 0px 50px 20px;
    --carroussel-shadow-droit: rgba(0,0,0,.6) 10px 0px 50px 20px;

    --duree            : 80s;
    --miniature-width  : 420px;
    --miniature-height : 275px;
    --miniature-radius : 20px;

}

#realisations {
  align-items: center;

  & > .container {

    background: var(--background-color);
    width:100%;
    min-height:85vh;
    overflow:visible;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;

    .carroussels {

      width     : 100vw;

      .carroussel {
        height     : calc(var(--miniature-height) + 50px);
        overflow   : hidden;
        text-align : center;
        display    : flex;
        align-items: center;

        &::before, &::after {
          content: '';
          width: 100px;
          height: 100%;
          box-sizing: border-box;
          position: absolute;
          border-radius: 30px;
        }

        &::before {
            right: 0;
            box-shadow: var(--carroussel-shadow-gauche);
            transform: translateX(100%);
            z-index: 1;
            height:65%;
        }

        &::after {
            left: 0;
            box-shadow: var(--carroussel-shadow-droit);
            transform: translateX(-100%);
            z-index: 1;
            height:65%;
        }


        &:hover .container {

            animation-play-state: paused;

        }

        .container {

            display:flex;
            position:absolute;
            animation: slideCarroussel var(--duree) linear infinite;

          }

        &:nth-child(even) .container { animation-direction: normal; }
        &:nth-child(odd)  .container { animation-direction: reverse; }


        .container:first-child {
          animation-delay:calc(var(--duree)*-1/2);
      }
    }

    }
  }
}



  /* #realisations  .carroussel .container .miniature {
    width:var(--miniature-width);
    height:var(--miniature-height);
    display:flex;
    margin: 0 20px;
    justify-content:center;

    font-weight:bold;
    font-size:1.5rem;
    align-items:center;
    cursor:pointer;
    transform-style: preserve-3d;
    perspective:1200px;

    border-radius:var(--miniature-radius);
    transition: all 300ms linear;
  }

  & .miniature:hover {
      transform:scale(1.1);
  }

  #realisations  .rotate:hover {
    cursor:pointer;

      -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.40);
  }

  #realisations  .rotate {
    width: 100%;
    height:100%;
    border-radius:30px;
    transform: rotateX(0deg) rotateY(0deg);
    transition-timing-function: ease-out;
    overflow:hidden;
  }

  #realisations  .rotate img {
    width:100%;
    border-radius:30px;
    object-fit:contains;
    height:100%;
  }
  #realisations  .overlay {
    position:absolute;
    opacity:1;
    border-radius:30px;
    transform:translate3d(0%,0%,0);
    left: -50%;
    top: -50%;
    opacity:0;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(circle at      50%,hsla(0,0%,100%,.25),transparent 50%);
  } */



  @keyframes slideCarroussel {
    from {
        transform:translateX(-100%);
    }

    to {
      transform:translateX(100%);
    }
  }
