#recommandations {
    width:80vw;
    transform: translateX(-50%);
    left: 50%;
}

#recommandations h2 {
    text-align: center;
}

#recommandations .blocs {
    display:flex;
    justify-content: center;
    gap:50px;
    width:80vw;
}

#recommandations .blocs .bloc {
    display:flex;
    color:black;
    background:white;
    padding:15px 25px;
    border-radius:20px;
    width:50%;
}

@media screen and (max-width:768px) {

    #recommandations .blocs {
        flex-direction: column;
    }

#recommandations .blocs .bloc {
    width:90%;
}
}

#recommandations .blocs .bloc .quote {
    min-width: 200px;
    display: flex;
    align-items: center;
}

#recommandations .blocs .bloc .quote::before {
    content: '‟';
    position: absolute;
    top: -20px;
    font-size: 7rem;
    opacity: 0.1;
    font-family: cursive;
    left: -80px;
}


#recommandations .blocs .bloc .source {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:3px;
}

#recommandations .blocs .bloc .name {
    font-size:.7rem;
    font-variant: small-caps;
}

#recommandations .blocs .bloc .role {
   font-size:.8rem;
   font-weight: 500;
}

#recommandations .blocs .bloc .source img {
    width:60px;
    border-radius:30px;
}
