header {

    min-height      : 100vh;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    align-items     : center;
    padding: 0vh 2vw 2vh 2vw;
    background:var(--background-color);

}